	h1{
		font-size:2em;
		margin: 0 auto 10px auto;
		width:80%;
	}
	
	button{
		height:2.4em;
		border:1px solid gray;
		border-radius:5px;
		margin:3px;
	}
	
	.wrap{
		background:#ddd;
		width:400px;
		padding:2em;
		border:1px solid gray;
		border-radius:10px;
		margin:0 auto;
		
	}
	.wrap td{
		width:100%;
		padding:4px;
		text-align: center;
		line-height: 0.8em;
	}
	.wrap input{
		float:left;
		border:1px solid gray;
		border-radius:5px;
		
	}
	.wrap #output{		
		height:1.5em;
		padding:1em;
		margin:10px auto ;
		text-align:center;
		border:1px solid #3d3d3d;
		border-radius:10px;
		width:90%;
		color:white;
		font-weight:bold;
		background:#3d3d3d;
	}
	.wrap #option{
		float:left;
		width:40%;
		border-right:1px solid gray;
	}
	.wrap #showSize{
		padding:5px;
		margin-left:10px; 
	}
	.wrap select{
		margin:0 auto 0 5px;
	}







	.fortify{
		
		background:#ddd;
		width:400px;
		padding:2em;
		border:1px solid gray;
		border-radius:10px;
		margin:14px auto;
		
	}
	.block {
		width:400px;
		padding:5px 2px;
		height:2em;			
	}	
	.fortify #original{
		height:3em;
		padding:0.3em;
		width:100%;
		background:#3d3d3d;
		border:1px solid white;
		border-radius:10px;
		margin:3px auto 3px auto;
		color:white;
		font-weight:bold;
		text-align: center;
		
	}
	
	.block span{
		float:left;
	}
	.fortify #option{
		width:100px;
	}
	
	#numDub{
		margin:5px auto 5px 25px;
		height:auto;
	}

	#letSub{
		margin:5px auto 5px 25px;
		height:auto;
	}
